/* Header Style */

.main-banner{
	position: relative;
	width: 100%;
	height: 600px;
	color: #fff 
	background: #ccc no-repeat center center;
	background-size: cover;
	overflow: hidden;
}

.mask{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0, .5);
	z-index: 1;
}

.content{
	position: relative;
	z-index: 2;
}

.logo{
	display: block;
	width: 150px;
	height: 150px;
	margin: 50px auto;
}

.main-banner h1{
	text-align: center;
	font-size: 3rem;
}

.main-banner p{
	max-width: 550px;
	margin: auto;
	padding-top: 30px;
	padding-bottom: 30px;
	line-height: 2.7rem;
	font-size: 1.8rem;
	text-align: center;
}

.btns-wrap{
	width: 550px;
	height: 50px;
	margin: auto;
}

.btns-wrap a{
	float: left;
	width: 50%;
	height: 50px;
	line-height: 50px;
	text-align: center;
	text-transform: uppercase;
	font-size: 1.4rem;
	box-sizing: border-box;
}

.btns-wrap a:first-child{
	background-color: #fff;
	color: #333;
}

/*
.btns-wrap a:first-child:hover{
	background-color: #fff;
}
*/

.btns-wrap a:last-child{
	border: 1px solid #fff;
	color: #fff;
}

.btns-wrap a:last-child:hover{
	background-color: rgba(255, 255, 255, .3);
	color: #fff;
}

.games-wrap > div{
	position: relative;
	width: 100%;
	height: 350px;
	text-align: center;
	background-color: #ccc;
}

.games-wrap > div h2{
	position: relative;
	padding-top: 50px;
	text-transform: uppercase;
	z-index: 2;
	font-size: 40px;
}

.game-rew{
	opacity: 0;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	background: rgba(0,0,0, .3);
	transition: .3s opacity ease;
}

.games-wrap > div:hover .game-rew{
	opacity: 1;
}

.games-wrap > div:hover .game-rew p{
	bottom: 50px;
	font-size: 20px;
}

.game-rew p{
	position: absolute;
	left: 50%;
	bottom: 60px;
	transform: translateX(-50%);
	max-width: 550px;
	line-height: 27px;
	transition: .2s bottom ease;
}

.heading{
	line-height: 60px;
	padding-left: 50px;
	background-color: #333;
	color: #fff;
	font-size: 1.8rem;
	box-sizing: border-box;
}
